* {
    box-sizing: border-box;
}

body,
html {
    background: url(/img/bg-top.png) #fbfcfd;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
 
a {
    text-decoration: none;   
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden-text {
    text-indent: -9999px;
}
 
.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
} 

/* ******************* HEADER ****************** */
 
.header {
    background-color: #eff3f7;  
}

.header:after {
    content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-image: -webkit-linear-gradient(left, rgba(242,246,250,.95), rgba(28,102,122,.95) 48%, rgba(242,246,250,.95));
	background-image: -moz-linear-gradient(left, rgba(242,246,250,.95), rgba(28,102,122,.95) 48%, rgba(242,246,250,.95));
	background-image: -o-linear-gradient(left,  rgba(242,246,250,.95), rgba(28,102,122,.95) 48%, rgba(242,246,250,.95));
	background-image: -ms-linear-gradient(left, rgba(242,246,250,.95), rgba(28,102,122,.95) 48%, rgba(242,246,250,.95));
	background-image: linear-gradient(to right, rgba(242,246,250,.95), rgba(28,102,122,.95) 48%, rgba(242,246,250,.95));
}

.container-header {
    margin: 0 auto;
    width: 1200px;
}

.logo-img {
	cursor: pointer;
	padding: 40px 0 35px 0;
	float: left;
}

.socials {
    margin-top: 35px;
	float: right;
}

.socials li {
	display: block;
	width: 47px;
	height: 47px;
	cursor: pointer;
	float: left;
	margin-left: 25px;
    background-image: url(/img/socials-sprite.png);
}

.socials li a {
    display: block;
    width: 47px;
	height: 47px;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;  
}

.social-item-1.active {
	background-image: url(/img/socials-sprite.png);
    background-position: 0 47px; 
}

.social-item-1 {
	background: url(/img/socials-sprite.png) 0 0;
} 

.social-item-1:hover {
	background: url(/img/socials-sprite.png) 0 47px;
} 

.social-item-2 {
	background: url(/img/socials-sprite.png) -57px 0;
} 

.social-item-2:hover {
	background: url(/img/socials-sprite.png) -57px 47px;;
}

.social-item-3 {
	background: url(/img/socials-sprite.png) -114px 0;
} 

.social-item-3:hover {
	background: url(/img/socials-sprite.png) -114px 47px;
}

.social-item-4 {
	background: url(/img/socials-sprite.png) -171px 0;
} 

.social-item-4:hover {
	background: url(/img/socials-sprite.png) -171px 47px;
}

.container {
    margin: 40px auto;
    width: 960px;
}
 
/* ******************* SIDEBAR ****************** */
 
.sidebar {
    float: left;
}

.menu {
    overflow: hidden;
    background-color: #eff3f7;
	width: 250px;
	font-size: 18px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
    font-family: "firasans-book", sans-serif;
}

.menu a {
    width: 210px;
    display: block;
	color: #959aa8;
    padding-left: 20px;
    border-bottom: 2px solid #3ba8c0;
}

.menu li {
    width: 250px;
    margin-right: 10px;
	height: 72px;
    padding-left: 10px;
	line-height: 72px;
}

.menu li:hover a {
    color: #3ba8c0;
}

.menu li.active a {
    color: #fff;
    border-bottom: none;
}

.menu li.active {
	display: block;
	background-color: #3ba8c0;
}

.contacts {
    overflow: hidden;
    margin-top: 30px;
    font-size: 14px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
    color: #fbfcfd; 
    font-family: "firasans-book", sans-serif;
}

.contacts-title {
    background-color: #3ba8c0;
    line-height: 40px;
    padding-left: 20px;
    -webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.contact-list {
    margin-top: -17px;
}

.contact-list a {
    color: #fbfcfd;
}

.contact-list a:hover {
    text-decoration: underline;
}

.contact-list li {
    line-height: 40px;
    padding-left: 60px;
}

.contact-list-item-1 {
    background: url(/img/icon-email.png) no-repeat 20px center #41b9d4;
}

.contact-list-item-2 {
    background: url(/img/icon-phone.png) no-repeat 20px center #48cbe8;
}

.contact-list-item-3 {
    background: url(/img/icon-skype.png) no-repeat 20px center #51daf8;
}
 
/* ******************* CONTENT ****************** */
 
.content-area {
    width: 650px;
    float: right;
}

.section {
    width: 650px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #eff3f7;
    border-radius: 5px;
    padding-bottom: 200px;
} 

.header-section {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color: #48cbe8;
    border-bottom: 15px solid #67dffa;
    padding: 50px 0 45px 60px;  
}

.title {
    color: #fff;
	font-size: 27px; 
	font-weight: normal; 
	letter-spacing: -1px;
    font-family: "firasans-book", sans-serif;
    margin: 0;
    padding: 0;
}

.form-block {
    width: 400px;
    margin: 30px auto;
}

label {
    display: inline-block;
    color: #a3a7b4;
    margin-top: 20px;
}

input {
    width: 190px;
    height: 40px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #48cbe8;
    margin-top: 5px;
    padding-left: 10px;
}

.name {
    float: left;
}

label.email {
    float: right;
}

::-webkit-input-placeholder {color:#5acee9;}
::-moz-placeholder          {color:#5acee9;}/* Firefox 19+ */
:-moz-placeholder           {color:#5acee9;}/* Firefox 18- */
:-ms-input-placeholder      {color:#5acee9;}


.captcha {
    float: left; 
    width: 190px;
    height: 80px;
    background: url(/img/icon-captcha.png) no-repeat 50% 50% #fff;
}

.captcha-text {
    float: right; 
    margin-top: 22px;
}

textarea {
    box-sizing: border-box;
    width: 400px;
    height: 180px;
    display: block;
    resize: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #48cbe8;
    margin-top: 5px;
    padding: 10px;
}

.button {
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 8px 20px 8px 20px; 
}

.button:focus,
.button:active:focus {
    outline: none;
}


.btn-form {
    margin-top: 20px;
}

.btn-1 {
    float: left;
    background: #48cbe8;
    box-shadow: inset 0 -3px #3ba8c0; 
}

.btn-1:hover {
    background: #48cbe8;
    box-shadow: none;  
    margin-top: 3px;
}

.btn-1:active {
    background: #48cbe8;
    box-shadow: inset 0 2px #48cbe8; 
}

.btn-2 {
    float: right;
    background: #849db5;
    box-shadow: inset 0 -3px #687b8f; 
}

.btn-2:hover {
    background: #849db5;
    box-shadow: none;  
    margin-top: 3px;
}

.btn-2:active {
    background: #849db5;
    box-shadow: inset 0 -2px #687b8f; 
}

.empty {
    height: 78px;
}

/* ******************* FOOTER ****************** */

.footer {
    color: #687078;      
    height: 78px;
    background-color: #eff3f7;
    margin-top: -78px;
    position: relative;
}

.container-footer {
    width: 960px;
    margin: 0 auto;
    height: 78px;
    line-height: 78px;
    text-align: center;  
    font-family: "firasans-light", sans-serif;
}

.container-footer span {
    float: left;
    display: block;
    width: 20px;
    height: 78px;
    background: url(/img/lock-sprite.png) 0 23px no-repeat;
}

.container-footer span:hover {
    cursor: pointer;
    background: url(/img/lock-sprite.png) -30px 23px no-repeat;
}

.footer:before {
    content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-image: -webkit-linear-gradient(left, rgba(242,246,250,.95), rgba(28,102,122,.95) 48%, rgba(242,246,250,.95));
	background-image: -moz-linear-gradient(left, rgba(242,246,250,.95), rgba(28,102,122,.95) 48%, rgba(242,246,250,.95));
	background-image: -o-linear-gradient(left,  rgba(242,246,250,.95), rgba(28,102,122,.95) 48%, rgba(242,246,250,.95));
	background-image: -ms-linear-gradient(left, rgba(242,246,250,.95), rgba(28,102,122,.95) 48%, rgba(242,246,250,.95));
	background-image: linear-gradient(to right, rgba(242,246,250,.95), rgba(28,102,122,.95) 48%, rgba(242,246,250,.95));
}



